@import "../variables.less"; 
@import "../mixins.less";

/**************** variables *********************/


/**************** mixin *************************/


/*************** less *******************/
.uiProfile {
	.uiIconGreenTick {
		background-image: url("/eXoResources/skin/images/Icons/uiIconColor.png");
		background-position: -80px -40px;
	}

	.uiIconGrayCircleTick {
		background-image: url("/eXoResources/skin/images/Icons/uiIconColor.png");
		background-position: -100px -40px;
	}
	
	.uiIconEdit {
		margin: 0 10px 0 20px;
	}
	
	.titleWithBorder {
		margin-right: 150px;
	}
}

.uiHeaderSection .position {
	text-transform: capitalize;
	margin-bottom: 10px;
}

.uiProfile .uiSocTitleBar {
	line-height: 35px;
}

