.UIRelationshipPortlet{
	padding: 8px;
}

.UIVerticalTabs {
    float:left;
    width: 200px;
}

.UIVerticalTabs .UIVerticalTab {
    cursor: pointer;
}

.UIVerticalTabPane {
    padding: 0px;
    background: white url(background/LeftContentTab.gif) no-repeat left top;
}

.UIVerticalTabPane .VerticalTabPaneContent {
    padding-bottom:75px;
    background: url(background/BottomContentTab.gif) no-repeat left bottom;
}


.UIVerticalTabPane .VerticalTabPaneContent .UIVerticalTabs{
    
}

.UIVerticalTabPane .VerticalTabPaneContent .VerticalTabsContainer{

}

.VerticalTabsContainer .SelectedTab{
    background: url('background/SelectedTab.gif') no-repeat left ;
    height: 26px;
    border-bottom: 1px solid #9e9e9e;
    padding-left: 16px;
    width: 186px;
}

.VerticalTabsContainer .SelectedTab .MiddleTab{
	height: 26px;
	line-height: 26px;
	font-weight: bold;
	padding-left: 12px;
	color: #ff7500; 
}


.VerticalTabsContainer .NormalTab{
    height: 26px;
    border-bottom: 1px solid #c8c8c8;
    padding-left: 16px;
}

.VerticalTabsContainer .NormalTab .MiddleTab{
	background: url('background/NormalTabIcon.gif') no-repeat left center ;
    height: 26px;
    line-height: 26px;
    font-weight: bold;
    padding-left: 12px;
    color: #559BC1; 
}



.UIVerticalTabContentContainer {
	margin-left: 210px;
}

.UIVerticalTabContentContainer .UIVerticalTabContent .ContainerSpace .UIProfileUserSearch {
	background: white url('background/SpaceContentBG.gif') repeat-x top ;
	/*height: 400px;*/
	/*overflow: auto;*/
}

.UIVerticalTabContentContainer .UIVerticalTabContent .UIManageSpaces {

}

.UIManageSpaces .TopManageSpacesL {
	background: url('background/TopManageSpacesL.gif') no-repeat left top ;
	padding-left: 8px;
}

.UIManageSpaces .TopManageSpacesR {
	background: url('background/TopManageSpacesR.gif') no-repeat right top ;
	padding-right: 8px;
}

.UIManageSpaces .TopManageSpacesM {
	background: url('background/TopManageSpacesM.gif') repeat-x ;
	height: 8px;
}


.UIManageSpaces .BottomManageSpacesL {
	background: url('background/BottomManageSpacesL.gif') no-repeat left bottom ;
	padding-left: 8px;
}

.UIManageSpaces .BottomManageSpacesR {
	background: url('background/BottomManageSpacesR.gif') no-repeat right bottom ;
	padding-right: 8px;
}

.UIManageSpaces .BottomManageSpacesM {
	background: url('background/TopManageSpacesM.gif') repeat-x ;
	height: 8px;
}

.UIManageSpaces .SpaceContentBlue {
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	padding: 8px;
	background:#e5eaed;
}

.UIManageSpaces .SpaceContentGray {
	padding: 8px;
	background:#f1f3f5;
}

.UIVerticalTabContentContainer  .UIPublicRelation .ContainerSpace .SpaceContent {
	padding:8px;
	border-bottom: 1px solid #dadada;
}

.UIVerticalTabContentContainer .ContainerSpace .UIProfileUserSearch .SearchSpaces {
	font-size: 11px;
	margin-bottom: 5px;
}

.UIVerticalTabContentContainer .ContainerSpace .UIProfileUserSearch .SearchSpaces .AdvanceSearchLable {
	color:#2200CC;
	float:left;
	margin-left:7px;
	text-align:left;
	width:45px;
	cursor: pointer;
}

.UIVerticalTabContentContainer .ContainerSpace .UIProfileUserSearch .FilterSpaces .HideAdvanceSearchLable {
	color:#2200CC;
	float:left;
	margin-left:7px;
	text-align:left;
	width:45px;
	cursor: pointer;
}

.UIVerticalTabContentContainer .ContainerSpace .UIProfileUserSearch .SearchSpaces .Lable {
	color: #0a4da6;
	width: 100px;
	text-align: right;
	float: left;
}

.UIVerticalTabContentContainer .ContainerSpace .UIProfileUserSearch .SearchSpaces .Search {
	width: 242px;
	border: 1px solid #c7c7c7;
	margin-left: 8px;
	float: left;
	padding-left: 15px;
	font-size: 11px;
}

.UIVerticalTabContentContainer .ContainerSpace .UIProfileUserSearch .SearchSpaces .ButtonSearch {
	float: left;
	width: 40px;
	margin-left: 8px;
	line-height: 18px;
	text-align: center;
	color: white;
	background: url('background/ButtonFilter.gif') no-repeat left;
}

.UIVerticalTabContentContainer .ContainerSpace .UIProfileUserSearch .FilterSpaces {
	font-size: 11px;
	margin: 8px 0px;
}

.UIVerticalTabContentContainer .ContainerSpace .UIProfileUserSearch .FilterSpaces .Lable {
	color: #0a4da6;
	width: 100px;
	text-align: right;
	float: left;
}

.UIVerticalTabContentContainer .ContainerSpace .UIProfileUserSearch .FilterSpaces .FilterByPosition {
	width: 80px;
	border: 1px solid #c7c7c7;
	margin-left: 8px;
	margin-top: 1px;
	float: left;
	color: #C7C7C7;
	font-size: 11px;
}

.UIVerticalTabContentContainer .ContainerSpace .UIProfileUserSearch .FilterSpaces .FilterByCompany {
	width: 80px;
	border: 1px solid #c7c7c7;
	margin-left: 8px;
	margin-top: 1px;
	float: left;
	color: #C7C7C7;
	font-size: 11px;
}

.UIVerticalTabContentContainer .ContainerSpace .UIProfileUserSearch .FilterSpaces .FilterByGender {
	width: 80px;
	margin-left: 8px;
	float: left;
	color: #C7C7C7;
	font-size: 11px;
}

.UIVerticalTabContentContainer .UIManageSpaces .SpaceContent .NotYet {
 color: #ff0000;
 text-align: center;
 background: #f1f3f5;
}