.UIVerticalTabs {
    float:left;
    width: 200px;
}

.UIVerticalTabs .UIVerticalTab {
    cursor: pointer;
}


.UIVerticalTabPane .VerticalTabPaneContent {
    padding: 0px;
    background: white url('background/LeftContentTab.gif') repeat-y 112px;;
}


.UIVerticalTabPane .VerticalTabPaneContent .UIVerticalTabs{
    padding: 10px 0px 10px 0px;
}

.UIVerticalTabPane .VerticalTabPaneContent .VerticalTabsContainer{
    border-top: 1px solid #a3a3a3;
}

.VerticalTabsContainer .SelectedTab{
    background: white url('background/SelectedTab.gif') repeat-y ;
    height: 26px;
    border-bottom: 1px solid #9e9e9e;
    padding-left: 16px;
}

.VerticalTabsContainer .SelectedTab .MiddleTab{
	background: url('background/SelectedTabIcon.gif') no-repeat left center ;
	height: 26px;
	line-height: 26px;
	font-weight: bold;
	padding-left: 12px;
	color: #ff7500; 
}


.VerticalTabsContainer .NormalTab{
    height: 26px;
    border-bottom: 1px solid #c8c8c8;
    padding-left: 16px;
}

.VerticalTabsContainer .NormalTab .MiddleTab{
	background: url('background/NormalTabIcon.gif') no-repeat left center ;
    height: 26px;
    line-height: 26px;
    font-weight: bold;
    padding-left: 12px;
    color: #559BC1; 
}



.UIVerticalTabContentContainer {
	margin-left: 201px;
	padding: 10px ;
}

.UIVerticalTabContentContainer .UIVerticalTabContent .ContainerSpace .UIProfileUserSearch {
	background: white url('background/SpaceContentBG.gif') repeat-x top ;
	/*height: 400px;*/
	/*overflow: auto;*/
}

.UIVerticalTabContentContainer .UIVerticalTabContent .UIManageSpaces {
	padding:8px;
	border: 1px solid #dadada;
}

.UIVerticalTabContentContainer  .UIPublicRelation .ContainerSpace .SpaceContent {
	padding:8px;
	border-bottom: 1px solid #dadada;
}

.UIVerticalTabContentContainer .ContainerSpace .UIProfileUserSearch .SearchSpaces {
	margin-bottom: 5px;
}

.UIVerticalTabContentContainer .ContainerSpace .UIProfileUserSearch .SearchSpaces .AdvanceSearchLable {
	color:#2200CC;
	float:left;
	margin-left:7px;
	text-align:left;
	width:45px;
	cursor: pointer;
}

.UIVerticalTabContentContainer .ContainerSpace .UIProfileUserSearch .SearchSpaces .Lable {
	color: #0a4da6;
	width: 100px;
	text-align: right;
	float: left;
}

.UIVerticalTabContentContainer .ContainerSpace .UIProfileUserSearch .SearchSpaces .Search {
	width: 330px;
	border: 1px solid #c7c7c7;
	margin-left: 8px;
	float: left;
	padding-left: 15px;
}

.UIVerticalTabContentContainer .ContainerSpace .UIProfileUserSearch .FilterSpaces {
	margin: 8px 0px;
}

.UIVerticalTabContentContainer .ContainerSpace .UIProfileUserSearch .FilterSpaces .Lable {
	color: #0a4da6;
	width: 100px;
	text-align: right;
	float: left;
}

.UIVerticalTabContentContainer .ContainerSpace .UIProfileUserSearch .FilterSpaces .FilterBy {
	width: 80px;
	border: 1px solid #c7c7c7;
	margin-left: 8px;
	float: left;
	color: #C7C7C7;
}

.UIVerticalTabContentContainer .ContainerSpace .UIProfileUserSearch .FilterSpaces .ButtonFilter {
	float: left;
	width: 78px;
	margin-left: 8px;
	line-height: 19px;
	text-align: center;
	color: white;
	background: url('background/ButtonFilter.gif') no-repeat left;
}

.UIVerticalTabContentContainer .UIManageSpaces .SpaceContent .NotYet {
 color: #ff0000;
 text-align: center;
}