/**
 * canvas.css
 * style for canvas view
 * Overiding some styles from style.css
 */

.StatusUpdate .UIComposer .UIComposerShare .ButtonShare {
	background: none;
	background-color: steelBlue;
	height: 30px;
	line-height: 25px;
	margin-right: 20px;
	margin-bottom: 5px;
	width: 70px;
}

.ExtensionMessage {
	font-size: 10px;
	color: gray;
}
