@import "variables.less"; 
@import "mixins.less";

.uiUserNotificationPortlet {
	padding: 20px 30px;
	.alert {
		left: 60%;
	    position: absolute;
	    transform: translate(-50%);
	}
	.uiGrid.table {
    tr {
    	label {
    		padding-left:20px;
    	}
    }  
	}
}
.uiNotificationSettings .uiSocTitleBar{
	margin-bottom: 10px;
}
.uiNotificationSettings .uiSocTitleBar h4 {
	color: #2F5E92;
	margin-bottom: 15px;
}
.uiNotificationSettings .uiCheckbox {
	margin: 0;
}
.uiNotificationSettings .uiCheckbox > span {
	margin-left: 1px!important;
}
.uiNotificationSettings .form-horizontal table thead tr th:last-child {
	text-align: center;
}
.uiNotificationSettings .form-horizontal table tr td:last-child .uiSelectbox,
.uiNotificationSettings .form-horizontal table tr td:last-child .uiSelectbox .selectbox {
	width: 82px;
}