.UIGadgetThemes .TitGad {
  background: none repeat 0 0 #F8F8F8;
  border: 1px solid #E1E1E1;
  border-radius: 3px 3px 3px 3px;
  color: #2F3334;
  line-height: 25px;
  padding: 0 5px 0 8px;
	line-height: 25px;
}

.UIGadgetThemes .TitGad .ContTit {
  font-size: 14px;
  margin-right: 45px;
}

.UIGadgetThemes .TitGad .IconDropDown {
	float: right;
	font-size: 11px;
	color: #484848;
	display: block;
}

.UIGadgetThemes .GadCont {
	padding: 10px 15px;
	font-size: 12px;
}

.UIGadgetThemes .GadCont .IconLink {
	background: url('background/IconLink.gif') no-repeat left center;
	display: block;
}

/** MySpace **/
.UIGadgetThemes .MySpace .IconLink {
	padding-left: 10px;
	margin-bottom: 5px;
	color: #484848;
	text-decoration: none;
}

.UIGadgetThemes .MySpace .NoneSpace {
	padding-left: 10px;
	margin-bottom: 5px;
	color: #484848;
	text-decoration: none;
	display: block;
}