@import "../variables.less"; 
@import "../mixins.less";

.uiMembersPortlet .spaceMemberListBox {
    background-color: @white;
    border: 1px solid @borderColor;
    border-radius: 4px;
    padding: 10px;
}