// View All Notifications
// -------------------------
@import "../variables.less";
@import "../mixins.less";
// -------------------------
.UIIntranetNotificationsPortlet {
	padding: 20px;
	position: relative;
	> .user-setting {
		position: absolute;
		right: 20px;
		top: 37px;
	}
	.displayItems {
		margin-bottom: 10px;
		.text-bold {
			font-weight: bold;
		}
		> li {
			display: block;
			padding: 11px 25px 15px 15px;
			border-top: 1px solid @borderColor;
			border-top: none;
			position: relative;
			cursor: pointer;
			> .remove-item {
				right: 5px;
				padding: 0px;
				margin: 0px;
				cursor: pointer;
				display: none;
				> .uiIconClose {
					margin: 0px;
				}
			}
			.status {
				display: block;
				max-height: 40px;
				overflow: hidden;
			}
			.content {
				font-size: 12px;
				font-weight: bold;
				.btn {
					font-weight: normal;
					&.btn-primary {
						font-weight: bold;
					}
				}
				.confirm {
					margin: 3px 0;
				}
			}
			.avatarXSmall {
				margin-top: 4px;
  				.roundedCornerAvatar(45px, 2px);
			}
			.lastUpdatedTime {
				color: @textLightColor;
				font-size: 12px;
				display: inline-block;
			}
			+ li {
				border-top: 1px solid @borderColor;
			}
			[class^="uiIcon"] {
				vertical-align: -3px;
				margin-right: 7px;
			}
			&.unread {
				background-color: @quoteSecondBackground;
			}
			&:hover {
				#gradient > .vertical(@dropdownLinkBackgroundHover, darken(@dropdownLinkBackgroundHover, 15%));
				color: @white;
				cursor: pointer;
				> .remove-item {
					> .uiIconClose, > .uiIconClose:hover {
						background-image: url("@{images-path}/Icons/uiIconsWhite.png")!important;
					}
				}
				a {
					color: @white!important;
				}
				.btn {
					color: @textColor!important;
					&.btn-primary {
						color: @white!important;
					}
				}
				.lastUpdatedTime {
					color: @white;
				}
				.uiIconLightGray {
					background-image: url("@{images-path}/Icons/uiIconsWhite.png");
				}
				.uiIconSocLightGray	{
					background-image: url("/social-resources/skin/images/Icons/uiIconsSocWhite.png");
				}
			}
		}
	}
	.loadingMoreNotification {
		text-align: center;
	}
}