#UIContainer-sociallayout {
	padding: 10px;
}

#sociallayout .UIComponentBlock {
	background: none;
}
.SpacesNavigationPortletTDContainer {
	width: 162px;
	background: #ededed;
}

.MySpacesPortletTDContainer {
	background: white;
}

.UISpacesNavigationPortlet {
	background: #EDEDED;
}
	
.UISpacesNavigationPortlet .ProfTitle {
	background: url('DefaultSkin/background/ProfTitle.gif') no-repeat center top;
	color: #2f2f2f;
	font-weight: bold;
	height: 26px;
	line-height: 20px;
	text-align: center;
}

.UISpacesNavigationPortlet .Avartar {
	background: url('DefaultSkin/background/BgProfAvartar.gif') no-repeat left top;
	display: block;
	height: 64px;
	margin: 30px auto;
	padding: 6px 0;
	text-align: center;
	vertical-align: middle;
	width: 79px;
}

.UISpacesNavigationPortlet .Avartar img {
	height: 65px;
	width: 65px;
}

.UISpacesNavigationPortlet .UIVerclTab {
	width: 168px;
	position: relative;
	margin: 10px 0 30px;
}

.UISpacesNavigationPortlet .UIVerclTab .Tab {
	height: 23px;
	line-height: 23px;
	padding-right: 20px;
	text-align: right;
}

.UISpacesNavigationPortlet .UIVerclTab .SelectedTab {
	background: url('DefaultSkin/background/SelectedTab.gif') no-repeat left top;
}

.UISpacesNavigationPortlet .UIVerclTab .SelectedTab a {
	color: white;
}

.UISpacesNavigationPortlet .UIVerclTab .Tab a {
	padding-right: 25px;
	display: block;
	font-weight: bold;
}

.UISpacesNavigationPortlet .UIVerclTab .MySpaceIcon {
	background: url('DefaultSkin/background/MySpaceIcon.gif') no-repeat right center;
}

.UISpacesNavigationPortlet .UIVerclTab .InvitationIcon {
	background: url('DefaultSkin/background/InvitationIcon.gif') no-repeat right center;
}

.UISpacesNavigationPortlet .UIVerclTab .PendingIcon {
	background: url('DefaultSkin/background/PendingIcon.gif') no-repeat right center;
}

.UISpacesNavigationPortlet .UIVerclTab .PublicIcon {
	background: url('DefaultSkin/background/PublicIcon.gif') no-repeat right center;
}