/**********************************/
.UIUserRelationPortlet .MyProfileIcon {
	background: url('background/ToolbarContainer.gif') no-repeat left -96px; /* orientation=lt */
	background: url('background/ToolbarContainer.gif') no-repeat right -96px; /* orientation=rt */
}

.UICanvasPortlet .CanvasIcon {
	background: url('background/ToolbarContainer.gif') no-repeat left -96px; /* orientation=lt */
	background: url('background/ToolbarContainer.gif') no-repeat right -96px; /* orientation=rt */
}

.UISpacePortlet .SpacesIcon {
	background: url('background/ToolbarContainer.gif') no-repeat left -96px; /* orientation=lt */
	background: url('background/ToolbarContainer.gif') no-repeat right -96px; /* orientation=rt */
}