/**
 * UIPublicSpacesPortlet style
 */

@import url('/social-resources/skin/social/webui/UISpaceSearch/DefaultSkin.css');

.UIPublicSpacesPortlet {
	background: #fff;
}

.PublicSpacesPortletTDContainer {
	background: #fff;
}

.UIManageSpaces {
	padding: 0px 10px 20px;
}

.UIPublicSpacesPortlet .TitleBar {
	height: 22px;
	color: #7d7d7d;
	line-height: 22px;
	text-align: center;
	font-weight: bold;
	background: #EBEBEB;
}

.UIPublicSpacesPortlet .BoxSpaceList {
	margin-bottom: 8px;
}

.UIPublicSpacesPortlet .BoxSpaceList .CenterTitleBox {
	background: url('DefaultSkin/background/TitleBox.gif') repeat-x left -52px;
	height: 26px;
}

.UIPublicSpacesPortlet .BoxSpaceList .LeftTitleBox {
	background: url('DefaultSkin/background/TitleBox.gif') no-repeat left top;
	padding-left: 15px;
}

.UIPublicSpacesPortlet .BoxSpaceList .RightTitleBox {
	background: url('DefaultSkin/background/TitleBox.gif') no-repeat right -26px;
	padding-right: 4px;
	color: #fff;
	line-height: 18px;
	height: 26px;
	font-weight: bold;
}

.UIPublicSpacesPortlet .NormalBox {
	background: #fbfbfb;
	padding: 8px 15px;
	color: #3a3a3a;
	margin-bottom: 1px;
}

.UIPublicSpacesPortlet .GrayBox {
	background: #f2f2f2;
	padding: 8px 15px;
	color: #3a3a3a;
	margin-bottom: 1px;
}

.UIPublicSpacesPortlet .BoxSpaceList .Image {
	float: left;
	width: 58px;
	display: block;
}

.UIPublicSpacesPortlet .BoxSpaceList .Image img {
	width: 58px;
	height: 58px;
}

.UIPublicSpacesPortlet .BoxSpaceList .AvatarSpace {
	background: url('DefaultSkin/DefaultSkin/background/BgProfAvartar.gif') no-repeat left top;
	float: left;
	height: 51px;
	padding-left: 4px;
	padding-top: 4px;
	width: 51px;
}

.UIPublicSpacesPortlet .BoxSpaceList .AvatarSpace img {
	width: 48px;
	height: 48px;
}

.UIPublicSpacesPortlet .BoxSpaceList .ContentBox {
	padding: 0px 0px 0px 80px;
}

.UIPublicSpacesPortlet .BoxSpaceList .ContentBox .TitleContent {
	height: 24px;
	border-bottom: 1px solid #ededed;
}

.UIPublicSpacesPortlet .BoxSpaceList .TitleContent .Icon {
	width: 20px;
	height: 20px;
	float: right;
	display: block;
	margin-left: 5px;
}

.UIPublicSpacesPortlet .BoxSpaceList .TitleContent .Text {
	margin-right: 50px;
	font-weight: bold;
	line-height: 24px;
}

.UIPublicSpacesPortlet .BoxSpaceList .ContentBox .Content {
	line-height: 16px;
	padding-top: 5px;
}

.UIPublicSpacesPortlet .BoxSpaceList .TitleContent .Text .MembersCount {
	margin-right: 50px;
	font-weight: normal;
	line-height: 24px;
}

.UIPublicSpacesPortlet .BoxSpaceList .ContentBox .Content {
	line-height: 16px;
	padding-top: 5px;
}

.UIPublicSpacesPortlet .BoxSpaceList .ContentBox .Content .SpaceStatus {
	font-style: italic;
	color: #aaaaaa;
}

.UIPublicSpacesPortlet .IconAdd {
	background: url('DefaultSkin/background/IconAdd.gif') no-repeat left top;
}

.UIPublicSpacesPortlet .NotYet {
	color: gray;
	text-align: center;
}
