@import "mixins.less";
@import "variables.less";
@import "FilterList/Style.less";
@import "Activity/Style.less";
/*=================UISpaceMember=================*/

.addInvite {
	margin: 0px 0px 20px 0px;
	input[type="text"] {
		margin-top: 8px;
	}
}

/************uiManageAllSpaces************/

.uiSpaceSearch {
	margin-bottom: 10px;
}

.spaceBox {
	.size(165px,315px);
	.uiGrayLightBox();
	padding: 10px;
	margin: 10px;
	.avatarXLarge img {
		border: 1px solid @borderColor;
	}
	.contentBox {
		margin-left: 140px;
		.content {
			height: 48px;
			overflow: hidden;
		}
		.btn {
			margin: 10px 0;
		}
	}
}

.checkedBox {
	background-image: url(/social-resources/skin/DefaultSkin/images/checked.png);
	background-position: top right;
	background-repeat: no-repeat;
}

.uiAllPeople #LoadMoreButton {
	width: 100%;
}