@import "mixins.less";
@import "variables.less";
@import "Sprites/Style.less";
@import "FilterList/Style.less";
@import "Activity/Style.less";
@import "iphone/checkbox/iphone-style-checkbox.less";

/*=================UISpaceMember=================*/

.addInvite {
	margin: 0px 0px 10px;
	padding-top: 10px;
	.groupPermissionBox a.actionIcon {
		padding: 2px 6px 4px;
		-webkit-padding: 1px 6px 5px;
	}
	.btn {
    margin-top: -10px;
  }
}

/************uiManageAllSpaces************/

.uiSpaceSearch {
	margin-bottom: 10px;
}

.spaceBox {
	.size(165px,330px);
	.uiGrayLightBox();
	padding: 10px;
	margin: 0 10px 10px 0;
	.avatarXLarge img {
		border: 1px solid @borderColor;
	}
	.contentBox {
		margin-left: 140px;
		height: 137px;
		overflow: hidden;
		.spaceTitle {
			max-height: 42px;
			overflow: hidden;
			margin-top: 0;
			.subTxt {
				font-size: @baseFontSize;
    			font-weight: normal;
			}
		}
		.email a {
			display: block;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.content {
			margin-top: 7px;
    		max-height: 43px;
			overflow: hidden;
		}
	}
	.connectionBtn {
		line-height: 28px;	
		.btn {
			margin: 0 0 0 10px;
		}
	}
}

.checkedBox {
	background-image: url("/social-resources/skin/images/SpaceBox/checked.png");
	background-position: top right;
	background-repeat: no-repeat;
}

.uiAllPeople #LoadMoreButton {
	width: 100%;
}

.uiInvitations #LoadMoreButton {
  width: 100%;
}

.uiMyConnections #LoadMoreButton {
  width: 100%;
}

.uiPendingRelation #LoadMoreButton {
  width: 100%;
}

/***** space setting portlet ****/
.uiSpaceSettingPortlet {
	.changeAccount {
		margin: 0 0 20px;
		.changeAvatar {
			text-align: center;
			margin: 10px 0 0 10px;
			a {
				margin-bottom: 15px;
			}
		}
	}
}

.uiAvatarUploadContent {
	.avatarInfo {
		a.avatarLargeWithBorder {
			margin: 15px 0 15px 15px;
		}
		
		.form-horizontal .controls {
			overflow: hidden;
		    text-overflow: ellipsis;
		    white-space: nowrap;
		    width: 161px;
		}
	}
}

.uiAvatarUploader {
  .uploadButton {
	  text-align: center;
	}
	
	.uiUploadInput {
	  padding-left: 9px;
	}
}
/******* space application portlet *****/
.uiSpaceApp .contentSpace {
	border: 1px solid @borderColor;
    .border-radius(4px);
    padding: 5px;
    .size(60px, 514px);
    margin: 10px 20px 10px 0;
	
	&:hover {
		background: @tableBackgroundAccent;
		border: 1px solid #C7C7C7;
	}
	
	[class^="uiIconApp"] {
		margin: 13px;
		float: left;
	}
	
	.communityContainer {
		margin: 8px 0 0 70px;
	}
}

/********* UISpaceApplicationInstaller *******/
.uiSpaceAppInstaller {
	
	.itemListCont {
		width: 229px;
		.itemList {
			height: 324px;
			overflow: auto;
			a {
				color: @textColor;
			    display: block;
			    font-weight: normal;
			    line-height: 20px;
			    padding: 5px 20px 5px 9px;
			    white-space: nowrap;
			    
			    &:hover, &:active, &:focus {
			    	color: @linkColorHover;
				}
			}
			
		  .selectedItem a {
        color: @linkColor;
      }
		}
	}
	
	.itemDetailList {
		width: 333px;
		margin-left: 10px;
		.appList {
			height: 304px;
			overflow-x: hidden;
			overflow-y: auto;
			padding: 10px;
			.appDescription {
				width: 274px;
				border: 1px solid @borderColor;
				.border-radius(4px);
				padding: 8px;
				margin: 10px;
				background-color: @white;
				[class^="uiIconApp"] {
					margin: 13px;
					float: left;
				}
				.appContent {
					margin: 0 0 0 65px;
					font-size: 12px;
					
					strong:first-child {
						font-size: @baseFontSize;
					}
				}
				
				&:hover {
					background-color: @tableBackgroundAccent;
					border: 1px solid #C7C7C7;	
				}
			}
		}
	} 
}

/**** social application ****/
.uiSocApplication {
	padding: 20px;
	.uiProfileUserSearch {
		margin-bottom: 10px;
	}
}

/******* space access page ******/
.uiSpaceAccessPortlet {
	padding-top: 60px;
	background: url('/eXoResources/skin/images/ShareImages/Background/texture.jpg') repeat-x top center;
	.spaceAccessBlock {
		width: 685px;
		padding-top: 160px;
		margin: 0 auto;
		text-align: center;
		h3 {
			color: @gray;
		}
		.spaceAccessInfo {
			font-size: 18px;
			padding: 10px 0 25px;
			color: @gray;
		}
	}
	
	.alert-success {
		width: 330px;
		margin: 0 auto;
	}
	.lockIcon {
		background: url('/social-resources/skin/images/RestrictedArea/lockIcon.png') no-repeat top center;
	}
	.denyIcon {
		background: url('/social-resources/skin/images/RestrictedArea/denyIcon.png') no-repeat top center;
	}
	.warningIcon {
		background: url('/social-resources/skin/images/RestrictedArea/warningIcon.png') no-repeat top center;
	}
}