/**
 * UIActivitiesLoader default skin
 */
 
.MoreActivitiesLoader .ButtonLeft {
  background: none;
}

.MoreActivitiesLoader .ButtonRight {
  background: url('DefaultSkin/background/More.gif') no-repeat right top;
  padding-right: 20px;
}

.MoreActivitiesLoader .ButtonMiddle {
  background: #e6e1bd;
  height: 26px;
  padding: 0px 4px 0px 13px;
  font-size: 12px;
  line-height: 26px;
}

.MoreActivitiesLoader .ButtonMiddle a {
  color: #222240;
}

.UIActivitiesLoader .UpdatedActivity {
  background-color: #F8F8F8;
}

.UIActivitiesLoader .UpdateInfo {
  background: none repeat scroll 0 0 #F8F8F8;
  border-radius: 4px 4px 4px 4px;
  color: #115EAE;
  line-height: 32px;
  padding: 0 12px;
  font-size: 16px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  margin: 6px 0 6px 0;
}

.UIActivitiesLoader #StoreCookieButton {
  display: none;
}