.UIPublicSpacePortlet {
	padding: 0px 10px 20px;
}

.UIPublicSpacePortlet .TitleBar {
	height: 22px;
	color: #7d7d7d;
	line-height: 22px;
	text-align: center;
	font-weight: bold;
	padding-bottom: 5px;
	background: #EBEBEB none repeat scroll 0 0;
}

.UIPublicSpacePortlet .LeftBoxInput {
	background: #f3f3f3 url('background/BoxInput.gif') no-repeat left top;
	padding-left: 6px;
	margin-bottom: 8px;
}

.UIPublicSpacePortlet .RightBoxInput {
	background: url('background/BoxInput.gif') no-repeat right top;
	padding-right: 6px;
}

.UIPublicSpacePortlet .CenterBoxInput {
	background: #f3f3f3;
	width: 100%;
	padding: 10px 0px;
}

.UIPublicSpacePortlet .LeftContentInput {
	float: left;
	width: 20%;
	text-align: right;
	line-height: 22px;
}

.UIPublicSpacePortlet .CenterContentInput {
	float: left;
	width: 42%;
	padding: 0px 10px;
}

.UIPublicSpacePortlet .RightContentInput {
	float: left;
	width: 20%;
	line-height: 22px;
}

.UIPublicSpacePortlet .CenterContentInput input {
	background: #fff;
	border: 1px solid #b8b8b8;
	color: #cbcbcb;
}

.UIPublicSpacePortlet .CenterContentInput .InputSearch {
	background: #fff url('background/IconSearch.gif') no-repeat right top;
	border:1px solid #B7B7B7;
	float:left;
	font-size:11px;
}

.UIPublicSpacePortlet .CenterContentInput select {
	height: 18px;
	background: #fff;
	border: 1px solid #b8b8b8;
	padding-left: 3px;
	color: #cbcbcb;
}

.UIPublicSpacePortlet .UISpaceSearch .CenterContentInput {
	float: left;
	width: 42%;
	padding: 0px 5px;
}

.UIPublicSpacePortlet .UISpaceSearch .CenterContentInput select {
	height: 18px;
	background: #fff;
	border: 1px solid #b8b8b8;
	padding-left: 3px;
	color: #cbcbcb;
}

.UIPublicSpacePortlet .UISpaceSearch .CenterContentInput .SpaceSearchInput {
	width: 265px;
	font-size:11px;
	float: left;
	border: 1px solid #b7b7b7;
}

.UIPublicSpacePortlet .UISpaceSearch .CenterContentInput .SpaceSearchInput input {
	width: 250px;
	height: 14px;
	font-size:11px;
	float: left;
	color: #C7C7C7;
	border: none;
}

.UIPublicSpacePortlet .UISpaceSearch .CenterContentInput .SpaceSearchInput .SearchIcon {
	width: 14px;
	float: left;
	background: white url( "background/IconSearch.gif" ) no-repeat right center;
	font-size: 11px;
	cursor: pointer;
}

.UIPublicSpacePortlet .BoxSpaceList {
	margin-bottom: 8px;
}

.UIPublicSpacePortlet .DirectoryNormalBox {
	background: #fbfbfb;
	padding: 2px 6px;
	color: #3a3a3a;
	margin-bottom: 1px;
}

.UIPublicSpacePortlet .BoxSpaceList ul.LetterList {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 0 0 10px;
	overflow: hidden;
	padding: 0;
	width: 100%;
}

.UIPublicSpacePortlet .BoxSpaceList ul.LetterList li {
	float: left;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 0 3px 3px 0;
	min-width: 15px;
	padding: 0;
	width: 3.2%;
}

.UIPublicSpacePortlet .BoxSpaceList ul.LetterList li a {
	background: #EEEEEE none repeat scroll 0 0;
	color: inherit;
	display: block;
	font-family: Georgia,Times,serif;
	font-size: 12px;
	padding: 3px 5px;
	text-align: center;
	text-decoration: none;
}

.UIPublicSpacePortlet .BoxSpaceList ul.LetterList li a:hover {
	background: #FFF8DC none repeat scroll 0 0;
	color: #F57A00;
}

.UIPublicSpacePortlet .BoxSpaceList ul.LetterList li a.selected {
	background: #AAAAAA none repeat scroll 0 0;
	color: #FFFFFF;
}

.UIPublicSpacePortlet .CenterTitleBox {
	background: url('background/TitleBox.gif') repeat-x left -52px;
	height: 26px;
}

.UIPublicSpacePortlet .LeftTitleBox {
	background: url('background/TitleBox.gif') no-repeat left top;
	padding-left: 15px;
}

.UIPublicSpacePortlet .RightTitleBox {
	background: url('background/TitleBox.gif') no-repeat right -26px;
	padding-right: 4px;
	color: #fff;
	line-height: 18px;
	height: 26px;
	font-weight: bold;
}

.UIPublicSpacePortlet .NormalBox .ABC a {
	margin-right: 3px;
}

.UIPublicSpacePortlet .NormalBox {
	background: #fbfbfb;
	padding: 8px 15px;
	color: #3a3a3a;
	margin-bottom: 1px;
}

.UIPublicSpacePortlet .GrayBox {
	background: #f2f2f2;
	padding: 8px 15px;
	color: #3a3a3a;
	margin-bottom: 1px;
}

.UIPublicSpacePortlet .BoxSpaceList .Image {
	float: left;
	width: 58px;
	display: block;
}

.UIPublicSpacePortlet .BoxSpaceList .Image img {
	width: 58px;
	height: 58px;
}

.UIPublicSpacePortlet .BoxSpaceList .AvatarSpace {
	background:transparent url(/space/skin/portal/webui/component/UIPublicSpacePortlet/DefaultSkin/background/BgProfAvartar.gif) no-repeat scroll left top;
	float:left;
	height:51px;
	padding-left:4px;
	padding-top:4px;
	width:51px;
}

.UIPublicSpacePortlet .BoxSpaceList .AvatarSpace img {
	width: 48px;
	height: 48px;
}

.UIPublicSpacePortlet .BoxSpaceList .ContentBox {
	padding: 0px 0px 0px 80px;
}

.UIPublicSpacePortlet .BoxSpaceList .ContentBox .TitleContent {
	height: 24px;
	border-bottom: 1px solid #ededed;
}

.UIPublicSpacePortlet .BoxSpaceList .TitleContent .Icon {
	width: 20px;
	height: 20px;
	float: right;
	display: block;
	margin-left: 5px;
}

.UIPublicSpacePortlet .BoxSpaceList .TitleContent .Text {
	margin-right: 50px;
	font-weight: bold;
	line-height: 24px;
}

.UIPublicSpacePortlet .BoxSpaceList .ContentBox .Content {
	line-height: 16px;
	padding-top: 5px;
}

.UIPublicSpacePortlet .IconAdd {
	background: url('background/IconAdd.gif') no-repeat left top;
}

.UIPublicSpacePortlet .NotYet {
	color:#FF0000;
	text-align:center;
}