

.TRContainer .MenuTDContainer {
	width: 220px;
}

.TRContainer .MenuTDContainer .UIContainer {
	padding: 0;
}

.UIPage .UIRowContainer {
	padding: 0;
}

.TRContainer .ApplicationTDContainer {
	padding: 8px;
}

.TRContainer .ApplicationTDContainer .UIContainer {
	padding: 0;
}

.TRContainer .ApplicationTDContainer .UITabPane .TabPaneContent {
  padding: 4px 0px 0px 0px; 
}

.UITableColumnContainer {
  border: 1px solid #91a8ae;
}

.UIToolbarContainer .UITableColumnContainer {
  background: none;
  border: none;
}

#gwtGadget .UIColumns {
	width: 100%;
}

#dashboard-gwtGadget .UIColumn {
	width: 100%;
}
#gwtGadget .gadgets-gadget {
	width: 99%;
}

.MiniAvatarSpaceBG {
	background: url('background/UserlistAvatar.png') no-repeat left top;
	padding: 8px 0px 0px 8px;
	width: 82px; height: 84px;
	float: left;
}
