/**
 * style for ViewerFriends
 */
.UIPageIterator {
  margin: 5px auto 0px auto;
  width: 99%;
}

.UIPageIterator a {
  float:left;
  color:#333333;
  display:block;
  font-size: 11px;
  font-family:Tahoma,Verdana,Arial,Helvetica,"Bitstream Vera Sans",sans-serif;
}

.UIPageIterator .Number {
  border: 1px solid #DFDFDF;
  padding: 0 3px;
  margin-left: 1px; /* orientation=lt */
  margin-right: 1px; /* orientation=rt */
  cursor: pointer;
  line-height: 15px;
}

a {
  color:#082E2A;
  text-decoration: none;
  font-size: 11px;
  font-family:Tahoma,Verdana,Arial,Helvetica,"Bitstream Vera Sans",sans-serif;
}

div {
  margin:0;
  outline-color:-moz-use-text-color;
  outline-style:none;
  outline-width:medium;
  padding:0;
  font-size:11px;
  font-family:Tahoma,Verdana,Arial,Helvetica,"Bitstream Vera Sans",sans-serif;
}

.UIPageIterator .PageSelected {
  color:#F16701;
  font-weight:bold;
}

.UIPageIterator .Number:hover {
  color: #0183F1;
  border: 1px solid #B6B6B6;
}

.UIPageIterator .PageSelected {
  color: #F16701;
  font-weight: bold;
}

.UIPageIterator .Icon {
  margin-left: 0.5px; /* orientation=lt */
  margin-right: 0px; /* orientation=rt */
  width: 18px;
  height: 17px;
  cursor: pointer;
}

.UIPageIterator .PagesTotalNumber {
  color: #0183F1;
  margin: 0 3px 0 1px; /* orientation=lt */
  line-height: 17px;
  font-size: 11px;
  font-family:Tahoma,Verdana,Arial,Helvetica,"Bitstream Vera Sans",sans-serif;
}

.UIPageIterator .TotalPages {
  font-size: 11px;
  line-height: 17px;
  font-family:Tahoma,Verdana,Arial,Helvetica,"Bitstream Vera Sans",sans-serif;
}

.UIPageIterator .LastTopPageIcon {
  background: url('images/ArrowPageIterator.gif') no-repeat left -17px; /* orientation=lt */
}

.UIPageIterator .NextTopPageIcon {
  background: url('images/ArrowPageIterator.gif') no-repeat left -51px; /* orientation=lt */
}

.UIPageIterator .LastPageIcon {
  background: url('images/ArrowPageIterator.gif') no-repeat left -119px; /* orientation=lt */
}

.UIPageIterator .NextPageIcon {
  background: url('images/ArrowPageIterator.gif') no-repeat left -85px; /* orientation=lt */
}

.UIPageIterator .DisableLastTopPageIcon {
  background: url('images/ArrowPageIterator.gif') no-repeat left top; /* orientation=lt */
}

.UIPageIterator .DisableNextTopPageIcon {
  background: url('images/ArrowPageIterator.gif') no-repeat left -34px; /* orientation=lt */
}

.UIPageIterator .DisableLastPageIcon {
  background: url('images/ArrowPageIterator.gif') no-repeat left -102px; /* orientation=lt */
}

.UIPageIterator .DisableNextPageIcon {
  background: url('images/ArrowPageIterator.gif') no-repeat left -68px; /* orientation=lt */
}
