.UIBreadcrumbPortlet {
  background: url('background/BreadcumbBG.gif') repeat-x left top;
  height: 25px;
  line-height: 25px;
  padding: 0px 10px;
}

.UIBreadcrumbPortlet a {
  color: #6d7fa1; 
}

.UIBreadcrumbPortlet .Path {
  color: #6d7fa1; 
  padding: 0px 3px;
  font-size: 9px;
  letter-spacing: -3px;
}

.UIBreadcrumbPortlet a.Selected {
  color: black;
}

.UIBreadcrumbPortlet ul { /* all lists */
	padding: 0;
	margin: 0;
	list-style: none;
}

.UIBreadcrumbPortlet li { /* all list items */
	float: left;
	position: relative;
}

.UIBreadcrumbPortlet ul.PotentialChild { 
	border: 1px solid #b7b7b7;
	background: white;
	padding: 1px;
	width: 120px;
}

.UIBreadcrumbPortlet ul.PotentialChild li { 
	border-bottom: 1px solid white;
	display: block;
	width: 100%;
	background: #f3f3f3;
	position: static;
}

.UIBreadcrumbPortlet ul.PotentialChild a { 
	display: block;
	padding: 0px 10px;
	color: black;
}

.UIBreadcrumbPortlet ul.PotentialChild a:hover { 
	background: #dfe0e0;
}

.UIBreadcrumbPortlet li ul { /* second-level lists */
	display: none;
	position: absolute;
	top: 23px;
	left: 0px;
}

.UIBreadcrumbPortlet li>ul { /* to override top and left in browsers other than IE, which will position to the top right of the containing li, rather than bottom left */
}

.UIBreadcrumbPortlet li:hover ul, li.over ul { /* lists nested under hovered list items */
	display: block;
}

  /*

.UIBreadcrumbPortlet li {
  display:inline;
  float: left;
  position: relative;
  width: 10em;

}

.UIBreadcrumbPortlet ul {
  padding-left:10px;
  margin: 0;
  list-style: none;
  height:50px;
}

.UIBreadcrumbPortlet li ul {
  display: none;
  position: absolute;
  top: 1em;
  left: 0;
  }

.UIBreadcrumbPortlet li > ul {
	top: auto;
	left: auto;
}

.UIBreadcrumbPortlet li:hover ul { display: block; } */

.UIBreadcrumbPortlet .potentialChild {
  background:#EEEEEE none repeat scroll 0 0;
  border:1px solid #999999;
  padding:4px;
  font-family:Arial,Helvetica,sans-serif;
font-size:12px;
font-size-adjust:none;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:12px;
  z-index:1000;
}
/*
.UIBreadcrumbPortlet .potentialChild li {
  display:list-item;
}
*/