#UIContainer-sociallayout {
	padding: 10px;
}

#sociallayout {
	-moz-border-radius: 3px;
	border: 1px solid #d6d6d6;
}

#sociallayout .UIComponentBlock {
	background: none;
}
.ProfileNavigationTDContainer {
	width: 162px;
	background: #ededed;
}

.ProfileActivityTDContainer {
	background: white;
}

.UISpaceNavigationPortlet .ProfTitle {
	background: url(DefaultSkin/background/ProfTitle.gif) no-repeat center top;
	color: #2f2f2f;
	font-weight:bold;
	height: 26px;
	line-height: 20px;
	text-align: center;
}

.UISpaceNavigationPortlet .Avartar {
	background: url(DefaultSkin/background/BgProfAvartar.gif) no-repeat left top;
	display: block;
	height: 64px;
	margin: 30px auto;
	padding: 6px 0;
	text-align: center;
	vertical-align: middle;
	width: 79px;
}

.UISpaceNavigationPortlet .UIVerclTab {
	width: 168px;
	position: relative;
	margin: 10px 0 30px;
}

.UISpaceNavigationPortlet .UIVerclTab .Tab {
	height: 23px;
	line-height: 23px;
	padding-right: 20px;
	text-align: right;
}

.UISpaceNavigationPortlet .UIVerclTab .SelectedTab {
	background: url(DefaultSkin/background/SelectedTab.gif) no-repeat left top;
}

.UISpaceNavigationPortlet .UIVerclTab .SelectedTab a {
	color: white;
}

.UISpaceNavigationPortlet .UIVerclTab .Tab a {
	padding-right: 25px;
	display: block;
	font-weight: bold;
}

.UISpaceNavigationPortlet .UIVerclTab .MySpaceIcon {
	background: url('DefaultSkin/background/MySpaceIcon.gif') no-repeat right center;
}

.UISpaceNavigationPortlet .UIVerclTab .InvitationIcon {
	background: url('DefaultSkin/background/InvitationIcon.gif') no-repeat right center;
}

.UISpaceNavigationPortlet .UIVerclTab .PendingIcon {
	background: url('DefaultSkin/background/PendingIcon.gif') no-repeat right center;
}

.UISpaceNavigationPortlet .UIVerclTab .PublicIcon {
	background: url('DefaultSkin/background/PublicIcon.gif') no-repeat right center;
}



.UIMySpacePortlet {
	padding: 0px 10px 20px;
}

.UIMySpacePortlet .TitleBar {
	height: 22px;
	color: #7d7d7d;
	line-height: 22px;
	text-align: center;
	font-weight: bold;
	padding-bottom: 5px;
	background: #EBEBEB none repeat scroll 0 0;
}

.UIMySpacePortlet .LeftBoxInput {
	background: #f3f3f3 url('DefaultSkin/background/BoxInput.gif') no-repeat left top;
	padding-left: 6px;
	margin-bottom: 8px;
	margin-top: 3px;
}

.UIMySpacePortlet .RightBoxInput {
	background: url('DefaultSkin/background/BoxInput.gif') no-repeat right top;
	padding-right: 6px;
}

.UIMySpacePortlet .CenterBoxInput {
	background: #f3f3f3;
	width: 100%;
	padding: 10px 0px;
}

.UIMySpacePortlet .LeftContentInput {
	float: left;
	width: 20%;
	text-align: right;
	line-height: 22px;
}

.UIMySpacePortlet .CenterContentInput {
	float: left;
	width: 42%;
	padding: 0px 10px;
}

.UIMySpacePortlet .RightContentInput {
	float: left;
	width: 20%;
	line-height: 22px;
}

.UIMySpacePortlet .CenterContentInput input {
	background: #fff;
	border: 1px solid #b8b8b8;
	color: #cbcbcb;
}

.UIMySpacePortlet .CenterContentInput .InputSearch {
	background: #fff url('DefaultSkin/background/IconSearch.gif') no-repeat right top;
	border:1px solid #B7B7B7;
	float:left;
	font-size:11px;
}

.UIMySpacePortlet .CenterContentInput select {
	height: 18px;
	background: #fff;
	border: 1px solid #b8b8b8;
	padding-left: 3px;
	color: #cbcbcb;
}


.UIMySpacePortlet .BoxSpaceList {
	margin-bottom: 8px;
}

.UIMySpacePortlet .CenterTitleBox {
	background: url('DefaultSkin/background/TitleBox.gif') repeat-x left -52px;
	height: 26px;
}

.UIMySpacePortlet .LeftTitleBox {
	background: url('DefaultSkin/background/TitleBox.gif') no-repeat left top;
	padding-left: 15px;
}

.UIMySpacePortlet .RightTitleBox {
	background: url('DefaultSkin/background/TitleBox.gif') no-repeat right -26px;
	padding-right: 4px;
	color: #fff;
	line-height: 18px;
	height: 26px;
	font-weight: bold;
}

.UIMySpacePortlet .NormalBox .ABC a {
	margin-right: 3px;
}

.UIMySpacePortlet .NormalBox {
	background: #fbfbfb;
	padding: 8px 15px;
	color: #3a3a3a;
	margin-bottom: 1px;
}

.UIMySpacePortlet .GrayBox {
	background: #f2f2f2;
	padding: 8px 15px;
	color: #3a3a3a;
	margin-bottom: 1px;
}

.UIMySpacePortlet .BoxSpaceList .Image {
	float: left;
	width: 58px;
	display: block;
}

.UIMySpacePortlet .BoxSpaceList .Image img {
	width: 58px;
	height: 58px;
}

.UIMySpacePortlet .BoxSpaceList .AvatarSpace {
	background:transparent url('DefaultSkin/background/BgProfAvartar.gif') no-repeat scroll left top;
	float:left;
	height:51px;
	padding-left:4px;
	padding-top:4px;
	width:51px;
}

.UIMySpacePortlet .BoxSpaceList .AvatarSpace img {
	width: 48px;
	height: 48px;
}

.UIMySpacePortlet .BoxSpaceList .ContentBox {
	padding: 0px 0px 0px 80px;
}

.UIMySpacePortlet .BoxSpaceList .ContentBox .TitleContent {
	height: 24px;
	border-bottom: 1px solid #ededed;
}

.UIMySpacePortlet .BoxSpaceList .TitleContent .Icon {
	width: 20px;
	height: 20px;
	float: right;
	display: block;
	margin-left: 5px;
}

.UIMySpacePortlet .BoxSpaceList .TitleContent .Text {
	margin-right: 50px;
	font-weight: bold;
	line-height: 24px;
}

.UIMySpacePortlet .BoxSpaceList .ContentBox .Content {
	line-height: 16px;
	padding-top: 5px;
}

.UIMySpacePortlet .IconDel {
	background: url('DefaultSkin/background/IconDel.gif') no-repeat left top;
}

.UIMySpacePortlet .IconEditSpaceNavigation {
	background: url('DefaultSkin/background/IconEditSpaceNavigation.gif') no-repeat left top;
}

.UIMySpacePortlet .IconEditSpace {
	background: url('DefaultSkin/background/IconEditSpace.gif') no-repeat left top;
}

.UIMySpacePortlet .IconAccept {
	background: url('DefaultSkin/background/IconAccept.gif') no-repeat left top;
}

.UIMySpacePortlet .IconAdd {
	background: url('DefaultSkin/background/IconAdd.gif') no-repeat left top;
}

.UIMySpacePortlet .IconLeave {
	background: url('DefaultSkin/background/door_out.png') no-repeat left top;
}

.UIMySpacePortlet .NotYet {
	color:#FF0000;
	text-align:center;
}