.UIComposerLinkExtension {
  background: none repeat scroll 0 0 white;
  border: 1px solid #D7D7D7;
  margin-top: -1px;
}

.UIComposerLinkExtension .ActionAdd {
  float: right;
}

.UIComposerLinkExtension .ActionAdd a {
  color: #0b4da3;
}

.UIComposerLinkExtension .AddLink {
  font-size: 12px;
}

.UIComposerLinkExtension .InputLink {
  margin-right: 25px;
  overflow: hidden;
}

.UIActivityComposerContainer .InputDoc {
  background: none repeat scroll 0 0 white;
    border: 1px solid #D7D7D7;
    margin-top: -1px;
    padding: 4px;
}

.UIActivityComposerContainer .InputDoc .BrowsedDocument {
  padding-left: 20px;
	background: url("/social-resources/skin/ShareImages/activity/SOCIntranetBG.png") no-repeat scroll left -301px transparent;
}

.UIActivityComposerContainer .InputDoc .CloseIconLink {
  padding: 2px 5px;
  margin: 0px 0px;
	background: url("DefaultSkin/background/CloseIconLink.gif") no-repeat center;
}

.UIActivityComposerContainer .BrowseFile{
	color: #b7b7b7;
}

.UIActivityComposerContainer .TopInputLink{
	  background: url("DefaultSkin/background/TopInputLink.gif") no-repeat scroll 120px top transparent;
    display: block;
    height: 8px;
    position: relative;
}

.UIComposerLinkExtension #InputLink {
    border:1px solid white;
    width: 100%;
  height: 16px;
}

.UIComposerExtensionContainer .TopInputLink{
	  background: url("DefaultSkin/background/TopInputLink.gif") no-repeat scroll 60px top transparent;
    display: block;
    height: 8px;
    position: relative;
}

.UIComposerDocExtension .InputDoc {
  margin-right: 25px;
  overflow: hidden;
}

.UIComposerDocExtension #InputDoc {
  border:1px solid white;
  width: 100%;
  height: 16px;
}

.UIComposerLinkExtension .AttachButton {
  background: url('DefaultSkin/background/AddLink.gif') no-repeat center;
  float: right;
  height: 23px;
  width: 24px;
  display: block;
}

.UILinkShareDisplay {
  margin-top: 5px;
}

.UILinkShareDisplay .ThumbnailLeft {
  width: 165px;
  float: left;
}

.UILinkShareDisplay .ThumbnailLeft .ThumbnailShown {
  width: 150px;
}

.UILinkShareDisplay .ThumbnailLeft .ThumbnailHidden {
  display: none;
  width: 150px;
}

.UILinkShareDisplay .ThumbnailLeft .ThumbnailAction {
  width: 100px;
}

.UILinkShareDisplay .ThumbnailLeft .ThumbnailAction .BackIcon {
  width: 9px;
  height: 12px;
  float: left;
  cursor: pointer;
  background: url('DefaultSkin/background/BackIcon.gif') no-repeat left center;
  margin-left: 23px;
}

.UILinkShareDisplay .ThumbnailLeft .ThumbnailAction .Stats {
  float: left;
  font-size: 8px;
  margin:0px 9px;
  background: none;
}

.UILinkShareDisplay .ThumbnailLeft .ThumbnailAction .NextIcon {
  width: 9px;
  height: 12px;
  float: right;
  cursor: pointer;
  background: url('DefaultSkin/background/NextIcon.gif') no-repeat right center;
  margin-right: 15px;
}

.UILinkShareDisplay .ThumbnailOption .Label {
  font-size: 10px;
  line-height: 19px;
}

.UILinkShareDisplay .ThumbnailOption {
  font-size: 9px;
  height: 20px;
  white-space: nowrap;
}

.UILinkShareDisplay .ContentRight .Title {
  color: #000000;
  width: 550px;
  font-size: 11px;
  font-weight: bold;
}

.UILinkShareDisplay .ContentRight .Content {
  color: #000000;
  font-size: 10px;
  margin: 3px 0px;
  width: 550px;
}

.UILinkShareDisplay .ContentRight .Source {
  color: #000000;
  width: 550px;
  font-size: 9px;
}

.UILinkShareDisplay .ContentRight .Source a {
  color: #999999;
}

.LinkShare {
	margin: 8px 0;
	background: #f8f8f8;
	border: 1px solid #e1e1e1;
	padding: 10px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.LinkShare .Thumbnail {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  margin-right: 10px; /* orientation=lt */
  margin-left: 10px; /* orientation=rt */
  width: 110px;
}
