.UIComposerLinkExtension {
  margin: 5px 0px;
  background: white;
  border: 1px solid #d7d7d7;
  height: 23px;
}

.UIComposerLinkExtension .ActionAdd {
  float: right;
}

.UIComposerLinkExtension .ActionAdd a {
  color: #0b4da3;
}

.UIComposerLinkExtension .AddLink {
  font-size: 12px;
}

.UIComposerLinkExtension #InputLink {
  width: 85%;
  height: 19px;
  float: left;
  border: 1px solid white;
}

.UIComposerLinkExtension .AttachButton {
  border: 1px solid gray;
  float: right;
  height: 23px;
}

.UILinkShareDisplay {
  margin-top: 5px;
}

.UILinkShareDisplay .ThumbnailLeft {
  width: 165px;
  float: left;
}

.UILinkShareDisplay .ThumbnailLeft .ThumbnailShown {
  width: 150px;
}

.UILinkShareDisplay .ThumbnailLeft .ThumbnailHidden {
  display: none;
  width: 150px;
}

.UILinkShareDisplay .ThumbnailLeft .ThumbnailAction {
  width: 100px;
}

.UILinkShareDisplay .ThumbnailLeft .ThumbnailAction .BackIcon {
  width: 9px;
  height: 16px;
  float: left;
  cursor: pointer;
  background: url('DefaultSkin/background/BackIcon.gif') no-repeat left center;
  margin-left: 35px;
}

.UILinkShareDisplay .ThumbnailLeft .ThumbnailAction .Stats {
  float: left;
  font-size: 8px;
  margin-left: 9px;
  background: none;
}

.UILinkShareDisplay .ThumbnailLeft .ThumbnailAction .NextIcon {
  width: 9px;
  height: 16px;
  float: right;
  cursor: pointer;
  background: url('DefaultSkin/background/NextIcon.gif') no-repeat right center;
  margin-right: 15px;
}

.UILinkShareDisplay .ThumbnailOption {
  font-size: 9px;
  height: 20px;
  white-space: nowrap;
}

.UILinkShareDisplay .ContentRight {

}

.UILinkShareDisplay .ContentRight .InputTitle {

}

.UILinkShareDisplay .ContentRight .InputDescription {

}


.UILinkShareDisplay .ContentRight .Title {
  color: #000000;
  width: 550px;
  font-size: 11px;
  font-weight: bold;
}

.UILinkShareDisplay .ContentRight .Content {
  color: #000000;
  font-size: 10px;
  margin: 3px 0px;
  width: 550px;
}

.UILinkShareDisplay .ContentRight .Source {
  color: #000000;
  width: 550px;
  font-size: 9px;
}

.UILinkShareDisplay .ContentRight .Source a {
  color: #999999;
}

.LinkShare .Thumbnail {
  float: left;
  margin-right: 10px;
}

.LinkShare .Content {
  margin-left: 110px;
}