* {
	margin: 0;
	padding: 0;
}

a:link, a:hover, a:active, a:visited  {
	text-decoration: none;
}

img {
	border: none;
}

.ClearLeft {
	clear: left;
}

.ClearRight {
	clear: right;
}

body {	
	background: url('Backgrouds/Bg.jpg') repeat-x left top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

/************ Gadger content *************/
.GadgetContent {
	background: #ffffff;
	padding-bottom: 10px;
}

.GadgetContent .TopGadgetContent {
	padding: 2px;
}

.GadgetContent .ActivityForm {
	background: #d3d3d3;
	padding: 6px 0 0 10px;
	font-weight: bold;
}

.GadgetContent .ActivityForm form {
	margin: 5px 12px 0 0;
}

.GadgetContent .ActivityForm input {
	border: 1px solid #c5c6a9;
	height: 42px;
	width: 816px;
}


.GadgetContent .ActivityForm .Composer_InputArea {
	background: #FFFFFF none repeat scroll 0 0;
	border-color: #AEAEAE #BBBBBB #BBBBBB;
	overflow-x: hidden;
	min-height: 20px;
	max-height: 120px;
	font-weight: normal;
	border-style: solid;
	border-width: 1px;
	display: block;
	width: 820px;
	float: left;
	margin: 5 0 5px;
	padding: 2px 5px 3px;
	color: #777777;
}

.GadgetContent .ActivityForm .ButtonAdd {
	background: url('Backgrouds/ButtonAddCanvasMode.gif') no-repeat left top;
	float: right;
	line-height: 25px;
	text-align: center;
	width: 44px;	
	cursor: pointer;
	color: #000000; 
}

.GadgetContent .ActivityForm .ClearBoth {
	clear:both; 
	height:0px;
 }
 
.GadgetContent .ActivityForm .AddActivityForm {
	margin: 5px 50px 0 0;
}

.GadgetContent .CommentInput .ButtonComment  {
	background: url('Backgrouds/Comment.gif') no-repeat left top;
	float: right;
	height: 22px;
	line-height: 22px;
	text-align: center;
	width: 74px;	
	cursor: pointer;
}

.GadgetContent .ActivitiesContent {
	margin-top: 5px;
	padding-left: 7px;
}

.MiniAvatarSpaceBG {
	background: url('Backgrouds/AvatarSpace.gif') no-repeat left top;
	padding: 5px 0px 0px 8px;
	width: 85px; height: 102px;
	float: left;
}

.ActivitiesContent a.TitleItem {
	color: #2276fc;
	display: block;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 5px;
}

.GadgetContent .ActivitiesContent .ImageItem {
	display: block;
	float: left;
}

.GadgetContent .ActivitiesContent .Content {
	overflow: hidden;
	padding-left: 5px;
}

.GadgetContent .ActivitiesContent .NewsDate {
	color: #737373;
	font-size: 9px;
	padding-bottom: 5px;
}

.GadgetContent .ActivitiesContent .NewsComment {
	color: #737373;
}

.GadgetContent .ActivitiesContent .ContainerView {
	padding-bottom: 5px;
	border: 1px solid #f1f1f1;
	margin-top: 4px;
}

.GadgetContent .ActivitiesContent .Container {
	margin-left: 40px;
	padding-bottom: 5px;
}

.GadgetContent .ActivitiesContent .TitleBar {
	color: #737373;
	padding: 5px 8px 5px 12px;
	background: #f1f1f1;
}

.GadgetContent .ActivitiesContent .ContainerView .ShowContent {
	padding: 5px 0px 5px 0px;
	border-bottom: 1px solid #f1f1f1;
	margin: 5px 5px 0px 5px;
}

.GadgetContent .ActivitiesContent  .CommentInput {
	margin-top: 5px;
}

.GadgetContent .ActivitiesContent  .CommentInput input {
	border: 1px solid #c7c7c7;
	width: 750px;
	height: 19px;
}

.GadgetContent .Empty {
	color: red;
	text-align: center;
}

.LikeContent {
	color: red;
}

/********** Line *********/
hr {
	color: #d3d3d3;
	background-color: #d3d3d3;
	border: 0;
	height: 1px;
	margin: 5px 10px;
	_margin: 0px 20px;
}
