* {
	margin: 0;
	padding: 0;
}

a:link, a:hover, a:active, a:visited  {
	text-decoration: none;
}

img {
	border: none;
}

.ClearLeft {
	clear: left;
}

.ClearRight {
	clear: right;
}

body {	
	background: url('Backgrouds/Bg.jpg') repeat-x left top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
/************ Gadger content *************/
.GadgetContent {
	background: #ffffff;
	padding-bottom: 10px;
}

.GadgetContent .ActivityForm {
	background: #d3d3d3;
	padding: 6px 0 0 10px;
	font-weight: bold;
}

.GadgetContent .Empty {
	color: red;
	text-align: center;
}

.GadgetContent .ActivityForm .AddActivityForm {
	margin: 0 20px 0 0;
}

.GadgetContent .ActivityForm .UIComposer_InputArea {
	background: #FFFFFF none repeat scroll 0 0;
	border-color: #AEAEAE #BBBBBB #BBBBBB;
	overflow-x: hidden;
	min-height: 12px;
	max-height: 60px;
	font-weight: normal;
	border-style: solid;
	border-width: 1px;
	display: block;
	position: relative;
	width: 210px;
	float: left;
	margin: 0 0 5px;
	padding: 2px 5px 3px;
	color: #777777;
	cursor: text;
}

.GadgetContent .ActivityForm input {
	border: 1px solid #c5c6a9;
	height: 18px;
}

.GadgetContent .ActivityForm .ButtonAdd {
	background: url('Backgrouds/ButtonAdd.gif') no-repeat left top;
	float: right;
	height: 19px;
	line-height: 17px;
	text-align: center;
	width: 33px;	
	cursor: pointer;
	color: #000000;
}

.GadgetContent .ActivityForm .ClearBoth {
	clear:both; 
	height:0px;
 }
 
.GadgetContent .ActivitiesContent {
	padding-left: 10px;
	margin-top: 5px;
}

.MiniAvatarSpaceBG {
	background: url('Backgrouds/AvatarSpace.gif') no-repeat left top;
	padding: 8px 0px 0px 8px;
	width: 85px; height: 102px;
	float: left;
}

.ActivitiesContent a.TitleItem {
	color: #2276fc;
	display: block;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 5px;
}

.GadgetContent .ActivitiesContent .ImageItem {
	display: block;
	float: left;
}

.GadgetContent .ActivitiesContent .Content {
	overflow: hidden;
	padding-left: 5px;
}

.GadgetContent .ActivitiesContent .NewsDate {
	color: #737373;
	font-size: 9px;
	padding-bottom: 5px;
}

/********** Line *********/
hr {
	color: #e0ecff;
	background-color: #e0ecff;
	height: 0.5px;
	margin: 0 5px 0 5px;
}