/******* Create style by Trung.Nguyen  **********/

#UISocialExtensionNavigationContainer .UINavigationPortlet{
	background-color: #20263f;
}

#UISocialExtensionNavigationContainer .UINavigationPortlet .UINavigationBar .LeftNavigationBar{
	background: none;
	padding-left:0px;
	height: 32px;
}

#UISocialExtensionNavigationContainer .UINavigationPortlet .UINavigationBar .RightNavigationBar{
	background: none;
	padding-right: 0px;
}

#UISocialExtensionNavigationContainer .UINavigationPortlet .UINavigationBar .MiddleNavigationBar{
	background: none;
	padding: 0px;
}

#UISocialExtensionNavigationContainer .UINavigationPortlet .UITab .HighlightNavigationTab .LeftTab{
	background: none;
	padding-left: 0px;
}

#UISocialExtensionNavigationContainer .UINavigationPortlet .UITab .HighlightNavigationTab .RightTab{
	background: none;
	padding-right: 0px;
}

#UISocialExtensionNavigationContainer .UINavigationPortlet .UITab .HighlightNavigationTab .MiddleTab {
	background: none;
	margin-bottom:0px;
	padding:0px;
}

#UISocialExtensionNavigationContainer .UINavigationPortlet .UITab .HighlightNavigationTab a{
	color: #ffd400;
}

#UISocialExtensionNavigationContainer .UINavigationPortlet .UITab .NormalNavigationTab a {
	color: #9f9e9e;
}

#UISocialExtensionNavigationContainer .UINavigationPortlet .UIHorizontalTabs .UITab{
	font-weight: normal;
}

#UISocialExtensionNavigationContainer .UINavigationPortlet .UITab .SelectedNavigationTab .TabIcon{
	background: none;
	padding-bottom: 0px;
}

#UISocialExtensionNavigationContainer .UINavigationPortlet .UITab .SelectedNavigationTab .MiddleTab {
	background: none;
	padding: 0px;
}

#UISocialExtensionNavigationContainer .UINavigationPortlet .UITab .HighlightNavigationTab {
	margin: 0px;
}

#UISocialExtensionNavigationContainer .UINavigationPortlet .UITab .NormalNavigationTab{
	margin: 0px;
}

#UISocialExtensionNavigationContainer .UINavigationPortlet .UITab .NormalNavigationTab .MiddleTab{
	margin: 0px;
	padding: 0px;
}

#UISocialExtensionNavigationContainer .UINavigationPortlet .UITab .SelectedNavigationTab{
	margin: 0px;
}

#UISocialExtensionNavigationContainer .UINavigationPortlet .UITab .SelectedNavigationTab .RightTab{
	background: none;
	padding-right: 0px;
}

#UISocialExtensionNavigationContainer .UINavigationPortlet .UITab .SelectedNavigationTab .LeftTab{
	background: none;
	padding-left: 0px;
}

#UISocialExtensionNavigationContainer .UINavigationPortlet .UITab .SelectedNavigationTab a{
	color: #ffd400;
}
