/**
 * home.css
 * style for home view
 * Overiding some styles from style.css
 */
 
 .ActivitiesComponent .ActivitiesContainer .Textbox{
	width: 100%;
	min-height: 20px;
	max-height: 50px;
	overflow-x: hidden;
	overflow-y: auto;  
}
 
 .ActivitiesComponent .ActivitiesContainer .IconAdd{
	background: url('images/IconAdd.gif') no-repeat Right center;
	width: 30px;
	height: 22px;
	display: block;
}
