/**
 * canvas.css
 * style for canvas view
 * Overiding some styles from style.css
 */
 
 
 .StatusUpdate .UIComposer .UIComposerShare .ButtonShare {
	/*background: url('images/CanvasButtonShare.gif') no-repeat left top;*/
	background: none;
	background-color: steelBlue; /*should be changed*/
	height: 30px;
	line-height: 25px;
	margin-right: 20px;
	margin-bottom: 5px;
	width: 70px;
}

.ExtensionMessage {
  font-size: 10px;
  color: gray;
}