/** Add css rules here for your application. */
.WebFileEditor-mainPanel {
/*  border: 1px solid #81A7C6;*/
  width: 100%;
  background-color: rgb(235, 235, 235);  
}

.WebFileEditor-buttonsPanel {
}

.WebFileEditor-leftPanel {
/*  border: 1px solid #81A7C6; */
/*  height: 300px;*/
}

.WebFileEditor-rightPanel {
/*  border: 1px solid #81A7C6; */
/*  height: 300px;*/  
}

.WebFileEditor-upoadFormDialogBox {
/*  padding: 10px; */
}

.WebFileEditor-buttonImage {
  background-color: transparent;
  margin-left: 3px;
  margin-top: 3px;
}

.WebFileEditor-menuButtonTitle {
}

.WebFileEditor_editorTextArea {
  width: 100%;
  height: 394px;
}