/**
 * UIAllSpacesPortlet style
 */

@import url('/social-resources/skin/social/webui/UISpaceSearch/DefaultSkin.css');
@import url('/social-resources/skin/social/webui/UIManageSpaces/DefaultSkin.css');

@import url('/social-portlet/skin/css/uiSpacePortlet/Style.css');



.UIAllSpacesPortlet {
	background: #FFFFFF;
	padding: 20px 10px;
	background: #fff;
}

.UIAllSpacesPortlet TDContainer {
	background: #fff;
}

.UIManageAllSpaces {
	padding: 20px 10px 20px;
}
