
.exoSpacesContainer {
    position:relative !important;
    display:inline-block !important;
    border:solid 1px #848484 !important;
    -moz-border-radius:3px !important;
    -webkit-border-radius:3px !important;
    border-radius:3px !important;
    padding: 2px !important;
    margin:0 !important;
    background-color:#FFFFFF !important;
    color:black !important;
}

.espInfoBox {
    border:solid 2px #848484 !important;
    position:absolute !important;
    background-color:white !important;
    padding:5px !important;
    margin:0 !important;
}

.espInfoBox a, .espInfoBox a:visited{
    color:black !important;
}

.exoSpacesLink {
    background:url("../img/icon.png") no-repeat scroll 0 0 #FFF !important;
    font-family:Lucida Sans Unicode !important;
    color:black !important;
    padding:0 0 0 16px !important;
    margin:0 !important;
}
