/*UILinkComposerPlugin style*/
@import url('/social-resources/skin/social/webui/UILinkComposerPlugin/DefaultSkin.css');
@import url('/social-resources/skin/social/jquery.exomentions.css');

.UIComposer .BlastContainer {
	background: #f8f8f8;
	border: 1px solid #e1e1e1;
	margin-top: 5px;
	padding: 8px;
	border-radius: 3px;
}

.UIComposer .BlastContainer h4 {
    margin: 0 2px 8px;
    font-weight: normal;
}

.UIComposer textarea {
  height: 28px;
  width: 90%;  
}

.UIComposer .BlastContainer .BlastInputSpace {
	margin-bottom: 4px;
}

.UIComposer .BlastContainer .BlastShare {
	padding: 0px 0px 0px 5px;
}

.UIComposer .BlastContainer .Input {
	width: 100%;
	height: 26px;
	line-height: 26px;
	border: 1px solid #d6d0b4;
}

.UIComposer .BlastContainer .Image {
	padding: 4px 7px;
	background: url('/social-resources/skin/ShareImages/activity/SOCIntranetBG.png') no-repeat left -282px;
	margin-right: 8px;
}

.UIComposer .BlastContainer .UILinkActivityComposer {
	background: url('/social-resources/skin/ShareImages/activity/SOCIntranetBG.png') no-repeat left -388px;
	margin-right: 0px;
	padding: 0px 7px 0px 20px;
}

.UIComposer .BlastContainer .DottedLine {
	background-position: 8px -300px !important;
	border-left: 1px dotted #B7B7B7;
	padding-left: 24px !important;
}

.UIComposer .BlastContainer .UIDocActivityComposer {
	padding: 4px 6px 4px 15px;
	background: url('/social-resources/skin/ShareImages/activity/SOCIntranetBG.png') no-repeat left -301px;
	margin-right: 8px;
}

.UIComposer .BlastContainer .BlastShare .AttachMents {
	padding-top: 5px;
	font-weight: bold;
	float: left;
}

.UIComposer .BlastContainer .BlastShare .ShareButton {
	border: 1px solid #7b7b7b;
	border-radius: 3px;
	background: #6c6c6c;
	padding: 3px 15px;
	float: right;
	cursor: pointer;
	margin-right: 0px;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
}

.UIComposer .BlastContainer .BlastShare .DisableButton {
	border: 1px solid #E7E7E7;
	background: #E7E7E7;
	cursor: auto;
}

.UIComposer .BlastContainer .LinkForm {
	padding: 4px;
	background: white;
	border: 1px solid #d6d0b4;
	margin: 4px 4px 4px 0px;
}

.UIComposer .BlastContainer .BlastShare .ComposerExtensionContainer {
  clear: left;
  margin-bottom: 3px;
}

.UIComposer .BlastContainer .BlastShare .ComposerExtensionContainer .Button {
	border: 1px solid #d6cfb4;
	border-radius: 2px;
	background: white;
	padding: 0px 4px;
	float: right;
	cursor: pointer;
	line-height: 8px;
	margin-right: 0;
	padding: 0 4px 4px;
}
