.UIPendingSpacePortlet {
	padding: 0px 10px 20px;
}

.UIPendingSpacePortlet .TitleBar {
	height: 22px;
	color: #7d7d7d;
	line-height: 22px;
	text-align: center;
	font-weight: bold;
	padding-bottom: 5px;
	background: #EBEBEB none repeat scroll 0 0;
}

.UIPendingSpacePortlet .LeftBoxInput {
	background: #f3f3f3 url('background/BoxInput.gif') no-repeat left top;
	padding-left: 6px;
	margin-bottom: 8px;
	margin-top: 3px;
}

.UIPendingSpacePortlet .RightBoxInput {
	background: url('background/BoxInput.gif') no-repeat right top;
	padding-right: 6px;
}

.UIPendingSpacePortlet .CenterBoxInput {
	background: #f3f3f3;
	width: 100%;
	padding: 10px 0px;
}

.UIPendingSpacePortlet .LeftContentInput {
	float: left;
	width: 20%;
	text-align: right;
	line-height: 22px;
}

.UIPendingSpacePortlet .CenterContentInput {
	float: left;
	width: 42%;
	padding: 0px 10px;
}

.UIPendingSpacePortlet .RightContentInput {
	float: left;
	width: 20%;
	line-height: 22px;
}

.UIPendingSpacePortlet .CenterContentInput input {
	height: 18px;
	background: #fff;
	border: 1px solid #b8b8b8;
	padding: 0px 3px;
	color: #cbcbcb;
}

.UIPendingSpacePortlet .CenterContentInput .InputSearch {
	background: #fff url('background/IconSearch.gif') no-repeat right top;
}

.UIPendingSpacePortlet .CenterContentInput select {
	height: 18px;
	background: #fff;
	border: 1px solid #b8b8b8;
	padding-left: 3px;
	color: #cbcbcb;
}


.UIPendingSpacePortlet .BoxSpaceList {
	margin-bottom: 8px;
}

.UIPendingSpacePortlet .CenterTitleBox {
	background: url('background/TitleBox.gif') repeat-x left -52px;
	height: 26px;
}

.UIPendingSpacePortlet .LeftTitleBox {
	background: url('background/TitleBox.gif') no-repeat left top;
	padding-left: 15px;
}

.UIPendingSpacePortlet .RightTitleBox {
	background: url('background/TitleBox.gif') no-repeat right -26px;
	padding-right: 4px;
	color: #fff;
	line-height: 18px;
	height: 26px;
	font-weight: bold;
}

.UIPendingSpacePortlet .NormalBox .ABC a {
	margin-right: 3px;
}

.UIPendingSpacePortlet .NormalBox {
	background: #fbfbfb;
	padding: 8px 15px;
	color: #3a3a3a;
	margin-bottom: 1px;
}

.UIPendingSpacePortlet .GrayBox {
	background: #f2f2f2;
	padding: 8px 15px;
	color: #3a3a3a;
	margin-bottom: 1px;
}

.UIPendingSpacePortlet .BoxSpaceList .Image {
	float: left;
	width: 58px;
	display: block;
}

.UIPendingSpacePortlet .BoxSpaceList .Image img {
	width: 58px;
	height: 58px;
}

.UIPendingSpacePortlet .BoxSpaceList .AvatarSpace {
	background:transparent url(/space/skin/portal/webui/component/UIPendingSpacePortlet/background/BgProfAvartar.gif) no-repeat scroll left top;
	float:left;
	height:51px;
	padding-left:4px;
	padding-top:4px;
	width:51px;
}

.UIPendingSpacePortlet .BoxSpaceList .AvatarSpace img {
	width: 48px;
	height: 48px;
}

.UIPendingSpacePortlet .BoxSpaceList .ContentBox {
	padding: 0px 0px 0px 80px;
}

.UIPendingSpacePortlet .BoxSpaceList .ContentBox .TitleContent {
	height: 24px;
	border-bottom: 1px solid #ededed;
}

.UIPendingSpacePortlet .BoxSpaceList .TitleContent .Icon {
	width: 20px;
	height: 20px;
	float: right;
	display: block;
	margin-left: 5px;
}

.UIPendingSpacePortlet .BoxSpaceList .TitleContent .Text {
	margin-right: 50px;
	font-weight: bold;
	line-height: 24px;
}

.UIPendingSpacePortlet .BoxSpaceList .ContentBox .Content {
	line-height: 16px;
	padding-top: 5px;
}

.UIPendingSpacePortlet .IconDel {
	background: url('background/IconDel.gif') no-repeat left top;
}

.UIPendingSpacePortlet .IconEditSpaceNavigation {
	background: url('background/IconEditSpaceNavigation.gif') no-repeat left top;
}

.UIPendingSpacePortlet .IconEditSpace {
	background: url('background/IconEditSpace.gif') no-repeat left top;
}

.UIPendingSpacePortlet .IconAccept {
	background: url('background/IconAccept.gif') no-repeat left top;
}

.UIPendingSpacePortlet .IconAdd {
	background: url('background/IconAdd.gif') no-repeat left top;
}
