a:link, a:hover, a:active, a:visited  {
  text-decoration: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/*==========================*/
.UIClock {
  width: 228px;
  color: #ffffff;
  margin: 3px 0 0 35px;
}

.UIClock .ClockBGL{
  background: url('images/ClockBG.gif') no-repeat left top;
  padding-left: 22px;
}

.UIClock .ClockBGR {
  background: url('images/ClockBG.gif') no-repeat right top;
  padding-right: 22px;
}

.UIClock .ClockBGM {
  background: url('images/ClockBG.gif') repeat-x center -145px;
  height: 144px;
}

.UIClock .ClockBGM .Meridian {
  font-size: 10px ;
  text-align: right;
  padding: 44px 35px 0 0;
}

.UIClock .ClockBGM .Time {
  font-size: 30px;
  font-weight: bold;
  padding-left: 30px;
  line-height: 25px;
}

.UIClock .ClockBGM .Day {
  float: left;
  font-size: 10px;
  padding-left: 35px;
}

.UIClock .ClockBGM .Month {
  float: right;
  font-size: 10px;
  padding-right: 35px;
}

.UIClock .ClearLeft {
  clear: left;
}
