.UIUserListPortlet {
	padding: 10px;
	background: #ECEDEE;
}

.UIUserListPortlet .UserlistContainer {
	border: 1px solid #b7b7b7;
	padding: 4px;
	margin-top: 6px;
}

.UIUserListPortlet .UserlistContainer .UserlistContent {
	background: white;
	padding: 8px;
}


.UIUserListPortlet .UserlistContainer .UserlistContent .UIFormGrid {
	margin: 0px;
}

.UIUserListPortlet .UserlistContainer .UserlistContent .AvartarIcon {
	background:transparent url(background/AvartarIcon.gif) no-repeat left 5px ;
	padding-left: 66px;
}

.UIUserListPortlet .UserlistContainer .UserContainer {
	padding: 4px;
}

.UIUserListPortlet .UserlistContainer .UserBarTitleName {
	color: white;
	background: #AEC7CC;
	font-size: 12px;
	font-weight: bold;
	line-height: 24px;
	padding-left: 12px;
}

.UIUserListPortlet .UserlistContainer .UserContainer .FieldComponent {
	font-weight: bold;
}

