body {
	background: #eeeeee;
	font-family: Lucida Sans, Arial, Verdana, sans-serif;
	margin: 0px;
	font-size: 12px;
	color: #565759;
}

img {
	border: none;
}

img {
	border: none;
}

a {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0px;
}

h1 {font-size: 22px;}
h2 {font-size: 20px;}
h3 {font-size: 16px;}
h4 {font-size: 15px;}
h5 {font-size: 12px;}
h6 {font-size: 11px;}


.FL {
	float: left;
}

.FR {
	float: right;
}

/***************** UIWorkingWorkspace **********************/

div, table, tr, td, img, form {
	font-family: Lucida Sans, arial, tahoma;
}

.UIWorkingWorkspace .UIPageBody .VIEW-PAGEBODY .UIPage {
	padding: 0px;
	width: 983px;
	margin: 0 auto;
}

.UIWorkingWorkspace .UIPageBody .VIEW-PAGEBODY .UIPage .UIComponentBlock {
	background-color: #eeeeee;
}

.UIContenSocialExtan {
	width: 983px;
	margin: 0 auto;
}

.UIContenSocialExtan .BgBannerHomepage {
	background: url('DefaultSkin/background/BannerSocialExtan.jpg') no-repeat left top;
	height: 292px;
	width: 979px;
	margin: 10px 0px;
}

.UIContenSocialExtan .BgBannerHomepage .Title {
	float: right;
	letter-spacing: -1px;
	margin-right: 52px;
	padding-top: 48px;
	text-align: right;
}

.UIContenSocialExtan .BgBannerHomepage .Title .TxtLarge {
	font-size: 50px;
	color: #5cc4af;
}

.UIContenSocialExtan .BgBannerHomepage .Title .TxtSmall {
	font-size: 26px;
	color: #4ebba5;
}

.UIContenSocialExtan .BgTL {
	background: url('DefaultSkin/background/BgBorder.gif') no-repeat left top;
	padding-left: 12px;
}

.UIContenSocialExtan .BgTC {
	background: url('DefaultSkin/background/BgBorder.gif') repeat-x left -8px;
	height: 8px;
}

.UIContenSocialExtan .BgTR {
	background: url('DefaultSkin/background/BgBorder.gif') no-repeat right -16px;
	padding-right: 12px;
}

.UIContenSocialExtan .BgBL {
	background: url('DefaultSkin/background/BgBorder.gif') no-repeat left -24px;
	padding-left: 12px;
}

.UIContenSocialExtan .BgBC {
	background: url('DefaultSkin/background/BgBorder.gif') repeat-x left -37px;
	height: 8px;
}

.UIContenSocialExtan .BgBR {
	background: url('DefaultSkin/background/BgBorder.gif') no-repeat right -50px;
	padding-right: 12px;
}
	
.UIContenSocialExtan .BgML {
	background: url('DefaultSkin/background/BgLeftM.gif') repeat-y left top;
	padding-left: 12px;
}

.UIContenSocialExtan .BgMR {
	background: url('DefaultSkin/background/BgRightM.gif') repeat-y right top;
	padding-right: 11px;
}

.UIContenSocialExtan .BgMC {
	background-color: #fff;
	padding-bottom: 19px;
	letter-spacing: -1px;
	padding-top: 13px;
}

.UIContenSocialExtan .ColsPeople {
	width: 280px;
	border-right: solid 1px #c5c5c5;
	padding-right: 15px;
	padding-left: 15px;
	white-space: nowrap;
}

.UIContenSocialExtan .ColsSpace {
	width: 322px;
	border-right: solid 1px #c5c5c5;
	padding-right: 30px;
	padding-left: 21px;
	white-space: nowrap;
}

.UIContenSocialExtan .ColsIconExtan {
	width: auto;
	margin: 0 auto;
}

.UIContenSocialExtan .TxtTile {
	font-weight: bold;
	font-size: 18px;
	color: #f58220;
	overflow: hidden;
}

.UIContenSocialExtan .TxtPeople {
	border-left: solid 1px #c5c5c5;
	padding-left: 10px;
	margin-left: 10px;
	font-size: 12px;
	color: #565759;
}


.UIContenSocialExtan ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	margin-top: 19px;
	font-size: 12px;
}

.UIContenSocialExtan ul li {
	background: url('DefaultSkin/background/ArrowTxt.gif') no-repeat left top;
	padding-left: 10px;
}


.ColsIconExtan .BlockWebsite {
	width: 90px;
	text-align: center;
	margin-top: 8px;
}

.ColsIconExtan .IconChatOnline {
	background: url('DefaultSkin/background/IconSocialExtan.gif') no-repeat center -111px;
	height: 55px;
	width: 59px;
	display: block;
	margin: auto;
}

.ColsIconExtan .IconChatOffline {
	background: url('DefaultSkin/background/IconSocialExtan.gif') no-repeat center -166px;
	height: 55px;
	width: 59px;
	display: block;
	margin: auto;
}

.ColsIconExtan .IconForum {
	background: url('DefaultSkin/background/IconSocialExtan.gif') no-repeat center top;
	height: 55px;
	width: 59px;
	display: block;
	margin: auto;
}

.ColsIconExtan .IconContact {
	background: url('DefaultSkin/background/IconSocialExtan.gif') no-repeat center -55px;
	height: 55px;
	width: 59px;
	display: block;
	margin: auto;
}

.ColsIconExtan .TxtLinkIcon {
	color: #565759;
	font-size: 14px;
	font-weight: bold;
	display: block;
	margin-top: 3px;
}

.UIWorkingWorkspace .UIPageBody .BLPagebody {
	background: none;
}

.UIWorkingWorkspace .UIPageBody .BRPagebody {
	background: none;
}

.UIWorkingWorkspace .UIPageBody .BMPagebody {
	background: none;
}
