/*========================gadget my connection===============================*/


.FL {
	float: left;
}

.FR {
	float: right;
}

.GadgetConnection {
	font-size: 12px;
	font-family: verdana;
	margin-top: 12px;
}

.GadgetConnection a {
	color: #0053a7;
	text-decoration: none;
}

.GadgetConnection img {
	border: none;
}

.GadgetConnection ul li {
	list-style: none outside none;
}

.GadgetConnection ul {
	padding: 0px 0px 0px 6px;
	margin-bottom: 14px;
}

.SearchContent {
	border: 1px solid #d5d5d5;
	border-radius: 2px;
	width: 160px;
	margin: auto;
}

.SearchContent .Search {
	border: 1px solid white;
	width: 136px;
	float: left;
	height: 16px;
	line-height: 16px;
	color: #d5d5d5;
}

.SearchContent .IconSearch {
	width: 16px;
	float: right;
	height: 20px;
	line-height: 16px;
	display: block;
	background: url('/eXoSkin/skin/less/social/skin/DefaultSkin/portal/background/IconSearch.gif') no-repeat right center;
	margin-right: 3px;
}

.GadgetConnection .ListContent {
	overflow-y: auto;
	overflow-x: hidden;
}

.GadgetConnectionSearch .ListContent .Icon {
	background: url('/eXoSkin/skin/less/social/skin/DefaultSkin/portal/background/IconListContent.gif') no-repeat right center;
	line-height: 20px;
	padding-right: 13px;
	margin-right: 7px;
	color: #0053a7;
	font-weight: bold;
}

.GadgetConnection .ReadMore {
	color: #535656;
}

.GadgetConnection .MoreContent {
	text-align: center;
	margin: 4px 0px;
	background: #f8f8f8;
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	line-height: 20px;
}

.GadgetConnection .Link {
	text-decoration: underline;
	color: #0053a7;
	margin-left: 7px;
}

.GadgetConnection .Avatar {
	float: left;
	display: block;
	width: 35px;
}

.GadgetMember .Avatar {
	width: 50px;
}

.GadgetConnectionDetail .ListContent .More {
	float: right;
	display: block;
	margin-right: 10px;
}

.GadgetConnection .Content {
	display: block;
  float: left;
  margin: 0 0 0 6px;
  overflow: hidden;
  white-space: normal;
}

.GadgetConnectionDetail .Content .Work {
	color: #555555;
  width: 95%;
}

.GadgetConnectionDetail ul li {
	margin: 6px 5px 0 0;
}

.GadgetMember .Content .Work {
	color: #0053a7;
  width: 140px;
	overflow: hidden;
  white-space: nowrap;
	font-size: 12px;
}

.GadgetMember ul li {
	margin-bottom: 8px;
}

.GadgetConnection .Content .User {
	font-weight: bold;
}

.GadgetConnection .Content .Member {
	color: #aeaeae;
}

.GadgetConnection .MemberProptile {
	margin: 16px 0 4px 8px;
}

.GadgetConnection .ListContent .Commnent {
	float: left;
}

.GadgetConnection .ListContent .Commnent .Comm {
	width: 170px;
	overflow: hidden;
  white-space: nowrap;
}

.GadgetConnection .ListContent .Commnent .TimeComm {
	width: 170px;
	overflow: hidden;
  white-space: nowrap;
	color: #808080;
}

.GadgetConnection .ListContent .Action {
	float: right;
	width: 40px;
}

.GadgetConnection .ListContent .Action .CommIcon {
	background: url('/eXoSkin/skin/less/social/skin/DefaultSkin/portal/background/CommIcon.png') no-repeat center;
	padding: 2px 6px;
	margin-right: 7px;
}

.GadgetConnection .ListContent .Action .LikeIcon {
	background: url('/eXoSkin/skin/less/social/skin/DefaultSkin/portal/background/LikeIcon.png') no-repeat center;
	padding: 2px 6px;
}

.GadgetConnectionSetting .SettingContent {
	margin: 12px 0px 12px 10px;
}

.GadgetConnectionSetting .Row {
	padding: 4px 0px 4px 0px;
}

.GadgetConnectionSetting .LabelIL {
	float: left;
	width: 130px;
	overflow: hidden;
  white-space: nowrap;
}

.GadgetConnectionSetting .SelectboxIL {
	float: right;
	width: 80px;
}

.GadgetConnectionSetting .LabelUT {
	float: left;
	width: 94px;
	overflow: hidden;
  white-space: nowrap;
}

.GadgetConnectionSetting .SelectboxUT {
	float: right;
	width: 118px;
}

.GadgetConnectionSetting .LabelISB {
	float: left;
	width: 104px;
	overflow: hidden;
  white-space: nowrap;
}

.GadgetConnectionSetting .SelectboxISB {
	float: right;
	width: 108px;
}

.GadgetConnectionSetting .LabelNIV {
	float: left;
	width: 154px;
	overflow: hidden;
  white-space: nowrap;
}

.GadgetConnectionSetting .InputNIV {
	float: right;
	width: 58px;
}

.GadgetConnectionSetting .MCSettingButton {
	background: url('background/MCSettingButton.gif') repeat-x top;
	border-radius: 11px;
	border: 1px solid #acacac;
	padding: 3px 12px;
	margin-left: 12px;
	color: #464646;
}

.GadgetConnectionBar {
	height: 25px;
	line-height: 24px;
	background: #f8f8f8;
	margin: 6px auto;
	border-radius: 3px;
	border: 1px solid #E1E1E1;
	padding: 0 3px 0 6px;
}

.GadgetConnectionBar .Label {
	color: #313332;
	white-space: nowrap;
	overflow: hidden;
}
/*
.GadgetConnectionBar .SettingIcon {
	background: url('/eXoSkin/skin/less/social/skin/DefaultSkin/portal/background/SettingIcon.png') no-repeat center;
	padding: 0px 8px;
	margin-right: 3px;
}

.GadgetConnectionBar .SettingSelected {
	background: url('/eXoSkin/skin/less/social/skin/DefaultSkin/portal/background/SettingSelected.png') no-repeat center;
	padding: 0px 8px;
	margin-right: 3px;
}

.GadgetConnectionBar .ListIcon {
	background: url('/eXoSkin/skin/less/social/skin/DefaultSkin/portal/background/ListNormal.png') no-repeat center;
	padding: 0px 8px;
	margin-right: 3px;
}

.GadgetConnectionBar .ListSelected {
	background: url('/eXoSkin/skin/less/social/skin/DefaultSkin/portal/background/ListIcon.png') no-repeat center;
	padding: 0px 8px;
	margin-right: 3px;
}

.GadgetConnectionBar .NumberListIcon {
	background: url('/eXoSkin/skin/less/social/skin/DefaultSkin/portal/background/NumberListIcon.png') no-repeat center;
	padding: 0px 8px;
	margin-right: 3px;
}

.GadgetConnectionBar .NumberListSelected {
	background: url('/eXoSkin/skin/less/social/skin/DefaultSkin/portal/background/ListSelected.png') no-repeat center;
	padding: 0px 8px;
	margin-right: 3px;
}*/

.GadgetConnection .CurentActivity {
 	margin: 12px;
}

.GadgetConnection .CurentActivity .Commnent {
	margin-right: 45px;
}

.GadgetConnection .CurentActivity .Commnent .TimeComm {
 	width: 170px;
 	overflow: hidden;
  white-space: nowrap;
 	color: #808080;
}

.GadgetConnection .CurentActivity .Action {
 	float: right;
 	width: 40px;
}

.GadgetConnection .CurentActivity .Action .CommIcon {
 	background: url('/eXoSkin/skin/less/social/skin/DefaultSkin/portal/background/CommIcon.png') no-repeat center;
 	padding: 2px 6px;
 	margin-right: 7px;
}

.GadgetConnection .CurentActivity .Action .LikeIcon {
 	background: url('/eXoSkin/skin/less/social/skin/DefaultSkin/portal/background/LikeIcon.png') no-repeat center;
 	padding: 2px 6px;
}-*

.GadgetConnection .CurentActivity .NumberLike {
 	color: #0053A7;
}

.QuickCommentBox {
 	margin: 0px 35px;
}

.QuickCommentBox input {
 	border: 1px solid #E1E1E1;
  color: #D2D2D2;
  font-size: 11px;
  padding: 4px;
  width: 100%;
}

.QuickCommentBox .ShareBT {
 	text-align: right;
 	padding-top: 2px;
}

.QuickCommentBox .ShareBT a {
 	color: #0053A7;
}

.GadgetConnection .ListContent .User {
 	font-weight: bold;
 	font-family: areal;
}

.GadgetMember ul {
 	padding-left: 35px;
}

.GadgetConnection .ListContent .ListListContent .Content {
 	margin-left: 40px;
 	float: none;
}