/**
 * UIPendingSpacesPortlet style
 */

@import url('/social-resources/skin/social/webui/UISpaceSearch/DefaultSkin.css');
@import url('/social-resources/skin/social/webui/UIManageSpaces/DefaultSkin.css');

.UIPendingSpacesPortlet {
	background: #fff;
}

.PendingSpacesPortletTDContainer {
	background: #fff;
}

.UIManageInvitationSpaces {
	padding: 20px 10px 20px;
}

