/**
 * UIPendingSpacesPortlet style
 */
 @import url('/social-resources/skin/portal/webui/component/UISpaceSearch/default/style.css');
 
.UIPendingSpacesPortlet {
  padding: 0px 10px 20px;
}

.UIPendingSpacesPortlet .TitleBar {
  height: 22px;
  color: #7d7d7d;
  line-height: 22px;
  text-align: center;
  font-weight: bold;
  padding-bottom: 5px;
  background: #EBEBEB none repeat scroll 0 0;
}

.UIPendingSpacesPortlet .BoxSpaceList {
  margin-bottom: 8px;
}
 
.UIPendingSpacesPortlet .CenterTitleBox {
  background: url('DefaultSkin/background/TitleBox.gif') repeat-x left -52px;
  height: 26px;
}

.UIPendingSpacesPortlet .LeftTitleBox {
  background: url('DefaultSkin/background/TitleBox.gif') no-repeat left top;
  padding-left: 15px;
}

.UIPendingSpacesPortlet .RightTitleBox {
  background: url('DefaultSkin/background/TitleBox.gif') no-repeat right -26px;
  padding-right: 4px;
  color: #fff;
  line-height: 18px;
  height: 26px;
  font-weight: bold;
}

.UIPendingSpacesPortlet .NormalBox {
  background: #fbfbfb;
  padding: 8px 15px;
  color: #3a3a3a;
  margin-bottom: 1px;
}

.UIPendingSpacesPortlet .GrayBox {
  background: #f2f2f2;
  padding: 8px 15px;
  color: #3a3a3a;
  margin-bottom: 1px;
}

.UIPendingSpacesPortlet .BoxSpaceList .Image {
  float: left;
  width: 58px;
  display: block;
}

.UIPendingSpacesPortlet .BoxSpaceList .Image img {
  width: 58px;
  height: 58px;
}

.UIPendingSpacesPortlet .BoxSpaceList .AvatarSpace {
  background:transparent url('DefaultSkin/background/BgProfAvartar.gif') no-repeat scroll left top;
  float:left;
  height:51px;
  padding-left:4px;
  padding-top:4px;
  width:51px;
}

.UIPendingSpacesPortlet .BoxSpaceList .AvatarSpace img {
  width: 48px;
  height: 48px;
}

.UIPendingSpacesPortlet .BoxSpaceList .ContentBox {
  padding: 0px 0px 0px 80px;
}

.UIPendingSpacesPortlet .BoxSpaceList .ContentBox .TitleContent {
  height: 24px;
  border-bottom: 1px solid #ededed;
}

.UIPendingSpacesPortlet .BoxSpaceList .TitleContent .Text .MembersCount{
  margin-right: 50px;
  font-weight: normal;
  line-height: 24px;
}

.UIPendingSpacesPortlet .BoxSpaceList .ContentBox .Content {
  line-height: 16px;
  padding-top: 5px;
}

.UIPendingSpacesPortlet .BoxSpaceList .ContentBox .Content .SpaceStatus {
  font-weight: smaller;
  font-style: italic;
  color:#aaaaaa
}

.UIPendingSpacesPortlet .BoxSpaceList .TitleContent .Icon {
  width: 20px;
  height: 20px;
  float: right;
  display: block;
  margin-left: 5px;
}

.UIPendingSpacesPortlet .BoxSpaceList .TitleContent .Text {
  margin-right: 50px;
  font-weight: bold;
  line-height: 24px;
}

.UIPendingSpacesPortlet .BoxSpaceList .ContentBox .Content {
  line-height: 16px;
  padding-top: 5px;
}

.UIPendingSpacesPortlet .IconDel {
  background: url('DefaultSkin/background/IconDel.gif') no-repeat left top;
}

.UIPendingSpacesPortlet .NotYet {
  color:gray;
  text-align:center;
}
